/* Geral */
/* definindo forma geral do site*/
@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&family=Poppins:wght@600&display=swap');

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	align-items: center;
	list-style-type: none;
	height: auto;
}


/* definindo menu do site */
/* banner do site */

header{
    height: auto;
    background-image: linear-gradient(to right,#ffcb5a6c  ,#479dbed7,#0385b8);
    background-size:150% 100%;
    animation: gradient 4.5s infinite alternate;     
}

.logo{
	position: relative;
    right:350px;
    width: auto;
	height: 270px;
    background-color: transparent;
	padding: 0;
	top: 20px;
} 

.logo-header {
	text-align: center;
    background-color: transparent;
}

.nav-ul {
	overflow: hidden;
    top: auto;
    position:relative;
    left:15px;
    bottom:30px;

} 

.nav-links {
	float: left;
	display: block;
	color: #000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight:500;
	padding: 15px 20px;
} 

.nav-img {
	padding: 0px;
	margin: 0;
	height: 55px;
	width: auto;
} 

li a:hover {
background-color:rgba(0, 0, 0, 0.497);
border-radius:10px;
color: rgb(255, 255, 255);
transition:0.8s;
}

#login {
	float: right;
	color: white;
	position: relative;
	right:40px;
	background-color: #2646acd7;
	border-radius: 10px;
}
#login:hover{
color:black;
background-color:rgba(255, 255, 255, 0.781);
border-radius:10px;
transition:0.5s;
}

.linha-horizontal{
	position: relative;
	left:20px;
	bottom:25px;
	width: 40%;
	border: 0.2px solid black;
}

.active {
	color: darkblue;
}

h2{
	width:800px;
    font-size: 30px;
    color:#22222267;
    text-align:left;
    position:relative;
    left:600px;
    bottom:200px;
    font-family: Arial;
    cursor:pointer;
	
	
}

h2::before{
	font-size:30px;
    content:attr(data-text);
    position:absolute;
    color:#fff;
    width:800px;
    overflow:hidden;
    white-space:nowrap;
    border-right:1px solid #ffffff00;
    animation:animate 3s linear ;
    cursor:pointer;
}

h3{
	width:655px;
    font-size: 30px;
    color:#22222267;
    text-align:left;
    position:relative;
    left:600px;
    bottom:180px;
    font-family: Arial;
    cursor:pointer;
}

h3::before{
	content:attr(data-text2);
    position:absolute;
    color:#fff;
    width:700px;
    overflow: hidden;
    white-space:nowrap;
    border-right:1px solid #ffffff00;
    animation:animation 5s linear ;
    cursor:pointer;
}

@keyframes animation{
	0%,60%{
		width:0;
	}
	80%,90%{
		width:100%;
	}
}

@keyframes animate{
	0%{
        width:0;
    }
    100%{
        width:100%;
    }
}

@keyframes gradient{
	35%{
			background-position-x:35%;
	}
	100%{
			background-position-x:80%;
	}
} 

section {
	margin: 0;
	padding: 100px 0;
	width: 100%;
	height: auto;
	background-image: linear-gradient(to right, #45b4e0,#2b55ca);
	align-items: center;
	justify-content: center;
}


/*  pagina home - secao de slide */
/* definindo a fonte e tamanho do titulo do slide */
#titulo-slide {
	padding: 5px;
	font-size: 30px;
	text-align: center;
	padding: 10px;
}

/* definicao da caixa em si onde contera todos os slides, marcando limites */
.slide-geral {
	margin: 0 auto;
	width: 800px;
	height: 400px;
	overflow: hidden;
}

/* definicao de tamanho de todas as imagens do slide e sua ordem */
.slides {
	width: 420%;
	height: 400px;
	display: flex;
	align-items: center;
}


.slides input {
	display: none;
}

/* tamanho das imagens do slide */
.slide {
	width: 25%;
	position: relative;
	transition: 2s;
}

/* tamanho da caixa onde os slides aparecem */
.slide img {
	width: 800px;
}

/* caixa onde mantem os botoes manuais */
.nav-manual {
	position: relative;
	width: 800px;
	margin-top: -45px;
	display: flex;
	justify-content: center;
}

/* forma e estilo do primeiro botao */
.btn-manual {
	border: 2px solid #fff;
	border-radius: 10px;
	padding: 5px;
	cursor: pointer;
	transition: 0.8s;
	margin: 12px;
}

/* cor do botao quando se passa o mouse */
.btn-manual:hover {
	background-color: #fff
}

/* comando que define qual botao é resposnsavel por cada pagina */
#radio1:checked  ~ .slide.first  {
	margin-left: 0;
}

#radio2:checked ~ .slide.first {
	margin-left: -25%;
}
#radio3:checked ~ .slide.first {
	margin-left: -50%;
}
#radio4:checked ~ .slide.first {
	margin-left: -75%;
}
#radio5:checked ~ .slide.first {
	margin-left: -100%;
}

/* estilo e formato dos botoes  */
.auto-nav div {
	border: 2px solid #fff;
	border-radius: 10px;
	padding: 5px;
	cursor: pointer;
	transition: 0.8s;
	margin: 12px;
}

/* posicao dos botoes */
.auto-nav {
	position: absolute;
	width: 800px;
	margin-top: 351px;
	display: flex;
	justify-content: center;
}

/* boatao permanece na cor quando selecionado  */
#radio1:checked ~ .auto-nav .btn-auto1 {
	background-color: #fff
}

#radio2:checked ~ .auto-nav .btn-auto2 {
	background-color: #fff
}

#radio3:checked ~ .auto-nav .btn-auto3 {
	background-color: #fff
}

#radio4:checked ~ .auto-nav .btn-auto4 {
	background-color: #fff
}

#radio5:checked ~ .auto-nav .btn-auto5 {
	background-color: #fff
}

#radio5:checked ~ .auto-nav .btn-auto5 {
	background-color: #fff
}

/* finalizacao dos slides */

/* criando os cards dos produtos */
.fiap-cards{
    width:100%;
    height:100vh;
}
#cards{
    width:1000px;
    display:flex;
    padding:30px 40px;
    position:relative;

}
 .card{
    width:300px;
    height:380px;
    border:1px solid rgba(66, 61, 61, 0.426);
    border-radius:20px;
    box-shadow:0 0 10px 5px rgba(0,0,0,0.2);
    background-color: rgb(255, 255, 255);
    cursor:pointer;
    margin-right:40px;   
 }
 .python-img-card{
    border-radius:20px 20px 0px 0px;
    position:relative;
    right:1px;
    bottom:1px;
 }



 .conteudo .titulo{
    position:relative;
    top:50px;
    right:90px;
    font-family:arial;
    font-size:27px;
    
 }
 .preco{
    position:relative;
    left:200px;
    top:24px;
    font-family:sans-serif;
    font-weight:750;
    font-size: 20px;
 }

.botao-comprar{
    position:relative;
    top:80px;
    left:20px;
    width:250px;
    height:30px;
    border-radius:10px;
    cursor:pointer;
    background-color: #FFF;
    border:1px solid black;
    font-family:arial;
    font-size:15px;

}
.botao-comprar:hover{
    background-color: #e5dede89;
    transition:1s;
    color:black;
  
    transition:0.2s;
    font-size:17px;
}





/* definicao das areas que compoe o footer */
.grid-footer {
	background-color:#0385b8;
	display: grid;
	grid-template-areas: 
	'item1 logo projeto'
	'Guss Fell links';
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	height: auto;
	padding: 10px;
}

/* area dos links uteis */
.grid-link {
	grid-area: links;
}

/* area do projeto */
.grid-projeto {
	grid-area: projeto;
}

/* imagem e link do Gustavo */
.grid-Guss {
	grid-area: Guss;
}

.img-Guss {
	height: 180px;
	width: auto;
	float: left;
	margin: 15px 20px;
	border: 2px solid white;
	border-radius: 10px;
}

.participantes {
	color: lightpink;
	font-size: 20px;
	padding: 15px 5px;
}
.footer-links {
	padding: 10px;
}

.footer-links-midia {
	color: white;
	font-size: 20px;
}

/* imagem e links do felipe */
.grid-Fell {
	grid-area: Fell;
	float: right;
}

.img-Fell {
	height: 180px;
	width: auto;
	float: right;
	margin: 15px 20px;
	border: 2px solid white;
	border-radius: 10px;
}

.links-fell {
	padding: 10px;
	float: right;
}


/* iniciando footer */
.titulo {
	font-size: 35px;
	color: #111;
	text-align: center;
	position:relative;
	width: auto;
	height: auto;
}

.texto {
	text-align: center;
	padding: 3px 0px 3px 0px;
	font-size: 20px;
}

.footer-link {
	color: white;
	font-size: 17px;
}











