

/* criando os cards dos produtos - SHIFT FIAP */
.fiap-cards{
    width:100%;
    height:430px;
}
.fundo-titutlo-shiftfiap{
	width:auto;
	height:80px;
    position:relative;
	top:-30px;
	border-radius:5px 60px;
	background-color: #165e8258;
}
.shift{
	font-family: arial;
	font-size:55px;
	padding-left:60px;
	position:relative;
	top:5px;
	color:#FFF;

}
.fiap{
	font-family: arial;
	font-size: 45px;
	padding-left:200px;
	position:relative;
	bottom:52px;
	color:rgb(225, 105, 105);
	
}

.posicao-cards {
	text-align: center;
	align-items: center;
}

#fundo-cards{
    width:100%;
    display:flex;
    padding:auto;
		justify-content: center;
    

}
.card{
	width:auto;
	height:auto;
	border:1px solid rgba(66, 61, 61, 0.426);
	border-radius:20px;
	box-shadow:0 0 10px 5px rgba(0,0,0,0.2);
	background-color: rgb(255, 255, 255);
	cursor:pointer;
	margin: 10px;  
}

.card:last-child{
	width:auto;
	height:auto;
	border:1px solid rgba(66, 61, 61, 0.426);
	border-radius:20px;
	box-shadow:0 0 10px 5px rgba(0,0,0,0.2);
	background-color: rgb(255, 255, 255);
	cursor:pointer;
	margin: 10px;  
}
.card:hover{
	background-color: #d5f1ff;
	transition:0.5s;
}


.imagem-cursos{
	border-radius:20px ;
	height:190px;
	width: 270px;
}


.conteudo-interno{
	width: auto;
}

.titulo-cards{
	font-family:arial;
	font-size:30px;  
	text-align: center;
	margin: 15px 0px;
}

.preco{
	font-family:sans-serif;
	font-weight:750;
	margin: 10px 0px;
	text-align: right;
	font-size: 20px;
	margin-right: 15px;
}

.botao-comprar{
	text-align: center;
	justify-content: center;
	margin: 2px;
    width: 240px;
    height:30px;
    border-radius:10px;
    cursor:pointer;
    background-color: darkgreen;
	color: #fff;
    border:none;
    font-family:arial;
    font-size:15px;
}

.btn-compra {
	text-align: center;
}

.botao-comprar:hover{
    background-color: #8dffff42;
    transition:1s;
    color:black;
    font-weight:bold;
    transition:0.2s;
    font-size:17px;
}

/* criando os cards dos produtos - ALURA */

.alura{
	font-size:55px;
	color:rgb(0, 0, 255);
	font-family:arial;
	font-weight:bold;
	margin-left:105px;
	padding-top:7px;
}
.python-alura-img-card{
	border-radius:20px 20px 0px 0px;
    position:relative;
    
    bottom:1px;
	width:300px;
	height:190px;
}
.javascript-alura-img-card{
	border-radius:20px 20px 0px 0px;
	position:relative;
	bottom:1px;
	width:300px;
	height:190px;
}
.IA-alura-img-card{
	border-radius:20px 20px 0px 0px;
	position:relative;
	right:1px;
	bottom:1px;
	width:302px;
	height:190px;
}
.security-alura-img-card{
    border-radius: 20px 20px 0px 0px;
	position:relative;
	bottom:1px;
	right:1px;
	width:302px;
	height:190px;
}
.titulo-javascript-alura{
	position:relative;
    top:50px;
    left:20px;
    font-family:arial;
    font-size:27px;  
}

/* definicao das areas que compoe o footer */
.grid-footer {
	background-color:#0385b8;
	display: grid;
	grid-template-areas: 
	'item1 logo projeto'
	'Guss Fell links';
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	height: auto;
	padding: 10px;
}

/* area dos links uteis */
.grid-link {
	grid-area: links;
}

/* area do projeto */
.grid-projeto {
	grid-area: projeto;
}

/* imagem e link do Gustavo */
.grid-Guss {
	grid-area: Guss;
}

.img-Guss {
	height: 180px;
	width: auto;
	float: left;
	margin: 15px 20px;
	border: 2px solid white;
	border-radius: 10px;
}

.participantes {
	color: lightpink;
	font-size: 20px;
	padding: 15px 5px;
}
.footer-links {
	padding: 10px;
}

.footer-links-midia {
	color: white;
	font-size: 20px;
}

/* imagem e links do felipe */
.grid-Fell {
	grid-area: Fell;
	float: right;
}

.img-Fell {
	height: 180px;
	width: auto;
	float: right;
	margin: 15px 20px;
	border: 2px solid white;
	border-radius: 10px;
}

.links-fell {
	padding: 10px;
	float: right;
}


/* iniciando footer */
.titulo {
	font-size: 35px;
	color: #111;
	text-align: center;
	position:relative;
	width: auto;
	height: auto;
}

.texto {
	text-align: center;
	padding: 3px 0px 3px 0px;
	font-size: 20px;
}

.footer-link {
	color: white;
	font-size: 17px;
}

/* formulario contato drop */
.formulario{
	background-color: #0385b8;
	width:1139px;
	height:334px;
	position:relative;
	visibility: hidden;
	position:absolute;
	right:350px;
	bottom:-1298px;
	cursor:pointer;
	border:2px solid rgba(255, 255, 255, 0.597);
	border-radius: 7px;

	
}
.formulario:hover input{
	visibility: visible;

}

.formulario form{
	position:absolute;
	visibility:hidden;
	
}
 li:hover ul{
	visibility:visible;
	
}
ul:hover #botao-enviar-formulario{
	visibility: visible;
}

.botao-contato{
	width:150px;
	height:50px;
	background-color: #00000066;
	border:none;
	position:relative;
	right:730px;
	bottom:81px;
}
.botao-contato:hover{
	background-color: #FFF;
	transition: 1s;
	transform: 1s;
}
#contato-palavra{
	color:#FFF;
	cursor:pointer;
	position:relative;
}
#contato-palavra:hover{
	color:black;
	background-color: transparent;
}
#contato-li{
	width:30px;
	padding-left:182px;
}


input{
	background-color: white;
	visibility:hidden;
	
}

form{
	padding-top:150px;

}
#idNome{
	position:relative;
	left:100px;
	bottom:120px;
	font-size:25px;
	width:350px;
	height:40px;
	border:none;
	border-radius: 7px;

}

#idWhatsapp{
	position:relative;
	bottom:120px;
	left:150px;
	width:350px;
	height:40px;
	border: none;
	font-size:25px;
	border-radius: 7px;

}

#idEmail{
	position:relative;
	right:610px;
	bottom:10px;
	font-size:25px;
	width:350px;
	height:40px;
	border:none;
	border-radius: 7px;

}

#idMensagem{
	position: relative;
	left:400px;
	bottom:80px;
	width:550px;
	height:150px;
	font-size:35px;
	border:none;
	border-radius: 7px;
	
}


#botao-enviar-formulario{
	width:300px;
	height:50px;
	border:none;
	border-radius: 5px;
	background-color:#0000008f;
	position:relative;
	right:540px;
	bottom:20px;
	font-size:20px;
	font-family: 'Poppins', sans-serif;
	cursor:pointer;
	color:#FFF;
	font-weight:600;
}
#botao-enviar-formulario:hover{
	background-color: rgba(254, 204, 66, 0.795);
	transition:0.4s;
	box-shadow:0 0 20px 5px rgba(0, 0, 0, 0.377);
	font-size:25px;
	width:310;
	height:60px;
	font-weight: bold;
	
}













