/* Geral */
/* definindo forma geral do site*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Lucida Sans", sans-serif;
    list-style-type: none;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Lucida Sans", sans-serif;

}

.logo{
    position:relative;
    width:200px;
    height:200px;
    border-radius:300px;
}
.header{
    width:100%;
    height:300px;
    background-image: linear-gradient(to right,#ffedc5df  ,#8cbaccd7,#018ABE);
    background-size:300% 100%;
    animation: gradient 4.5s infinite alternate;

   
}
@keyframes gradient{
    35%{
        background-position-x:35%;
    }
    100%{
        background-position-x:80%;
    }
}


.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 1px;
    overflow: hidden;
    background-color: transparent; 
    position: relative;
    top:170px;
    width: 100%;
    height: 200px;
} 
  
.nav-links {
    float: left;
    display: block;
    color: #153E48;

    font-size: 21px;
    padding: 15px;
    margin: 0;
} 
#cursos-sobre-projeto{
    position:relative;
    left:200px;
}
#home{
    position:relative;
    left:20px;
}


  
.nav-home {
    padding: 0px;
    margin: 0;
    height: 55px;
    text-align: center;
} 
  
li a:hover {
    background-color:rgba(255, 255, 255, 0.907);
    border-radius:12px;
    color: rgba(190, 35, 84, 0.929);
    transition:1s;
}



#login {
    float: right;
    color: white;
    height: 100%;
    position: relative;
    right:20px;
}
#login:hover{
    color:black;
}

.linha-horizontal{
 
 
  
    margin-top:30px;
    margin-left: 35px;
}























.titulo {
    font-size: 25px;
    color: #111;
    padding: 2px;
    text-align: center;

    border: 2px solid red;
}

.texto {
    text-align: center;
    padding: 3px 0px 3px 0px;
    
    border: 2px solid purple;
}












/* iniciando footer */

.footer-link {
    color: white;
    font-size: 17px;
}

/* definicao das areas que compoe o footer */
.grid-footer {
    background-color:darkcyan;
    display: grid;
    grid-template-areas: 
    'links logo projeto'
    'Guss Fell item4';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    height: auto;
}

/* area dos links uteis */
.grid-link {
    grid-area: links;
}

/* area do projeto */
.grid-projeto {
    grid-area: projeto;
}

/* imagem e link do Gustavo */
.grid-Guss {
    grid-area: Guss;
    border: 1px solid gold;
}

.img-Guss {
    height: 180px;
    width: auto;
    float: left;
    margin: 15px 20px;
    border: 2px solid white;
    border-radius: 10px;
}

.participantes {
    color: lightpink;
    font-size: 20px;
    padding: 15px 5px;
    border: 1px solid black;
}
.footer-links {
    padding: 10px;
    border: 2px solid green;
}

.footer-links-midia {
    color: white;
    font-size: 20px;
}

/* imagem e links do felipe */
.grid-Fell {
    grid-area: Fell;
    border: 1px solid gold;
}

.img-Fell {
    height: 180px;
    width: auto;
    float: right;
    margin: 15px 20px;
    border: 2px solid white;
    border-radius: 10px;
}













