/* Geral */
/* definindo forma geral do site*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Lucida Sans", sans-serif;
    list-style-type: none;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Lucida Sans", sans-serif;

}


/* definindo menu do site */
.logo{
    position: relative;
    width: 150px;
    height:auto;
    border-radius:30px;
    background-color: transparent;
} 

.logo-header {
    text-align: center;
    background-color: transparent;
}

header{
    height: auto;
    background-image: linear-gradient(to right,#ffedc5df  ,#479dbed7,#0385b8);
    background-size:300% 200%;
    animation: gradient 4.5s infinite alternate;      
}

@keyframes gradient{
    35%{
        background-position-x:35%;
    }
    100%{
        background-position-x:80%;
    }
}

.nav-ul {
    padding: 2px;
    overflow: hidden;
    top: auto;
} 
  
.nav-links {
    float: left;
    display: block;
    color: #0d3944;
    font-size: 21px;
    padding: 15px 20px;
} 

.nav-img {
    padding: 0px;
    margin: 0;
    height: 55px;
    width: auto;
} 
  
li a:hover {
  background-color:rgba(218, 186, 186, 0.907);
  border-radius:10px;
  color: rgba(139, 2, 36, 0.929);
  transition:0.8s;
}

#login {
    float: right;
    color: white;
    position: relative;
    right:20px;
    background-color: #2646acd7;
    border-radius: 10px;
}
#login:hover{
  color:black;
  background-color:rgba(218, 186, 186, 0.907);
  border-radius:10px;
  transition:0.8s;
}

.linha-horizontal{
    margin-top:15px;
    margin-left: 35 px;
}


/* iniciando footer */
.titulo {
    font-size: 25px;
    color: #111;
    padding: 2px;
    text-align: center;
}

.texto {
    text-align: center;
    padding: 3px 0px 3px 0px;
}

.footer-link {
    color: white;
    font-size: 17px;
}

/* definicao das areas que compoe o footer */
.grid-footer {
    background-color:#0385b8;
    display: grid;
    grid-template-areas: 
    'links logo projeto'
    'Guss Fell item4';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    height: auto;
}

/* area dos links uteis */
.grid-link {
    grid-area: links;
}

/* area do projeto */
.grid-projeto {
    grid-area: projeto;
}

/* imagem e link do Gustavo */
.grid-Guss {
    grid-area: Guss;
}

.img-Guss {
    height: 180px;
    width: auto;
    float: left;
    margin: 15px 20px;
    border: 2px solid white;
    border-radius: 10px;
}

.participantes {
    color: lightpink;
    font-size: 20px;
    padding: 15px 5px;
}
.footer-links {
    padding: 10px;
}

.footer-links-midia {
    color: white;
    font-size: 20px;
}

/* imagem e links do felipe */
.grid-Fell {
    grid-area: Fell;
    float: right;
}

.img-Fell {
    height: 180px;
    width: auto;
    float: right;
    margin: 15px 20px;
    border: 2px solid white;
    border-radius: 10px;
}

.links-fell {
    padding: 10px;
    float: right;
}












