body {
  background-image: linear-gradient(to right, #45b4e0,#2b55ca);
}

section {
  background-image: url(../imagens/livro-antigo.jpg);
  width: 1020px;
  height: 495px;
  margin: 0px 250px;
  display: grid;
	grid-template-areas: 
	'logo info';
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

.logo-login {
  grid-area: logo;
  width: 60%;
  height: auto;
  margin: 0px 140px;
  align-items: center;
}



.login {
  grid-area: info;
  width: 90%;
  height: auto;
  margin: 0px -10px;
  padding:auto;
  text-align: center;
  align-items: center;
}

.form-control {
  margin: 25px;
}

.form-control input {
  font-size: 15px;
}

.form-control input[type="text"], 
.form-control input[type="password"] {
  width: 70%;
  padding: 12px 20px;
  padding-left: 5px;
  outline: 0;
}

.links-login {
  color: dimgrey;
  font-size: 16px;
  margin: 4px;
  padding: 4px;
}

.links-login a {
  color: black;
}

.links-login a:hover {
  color: #d6201a;
  font-size: 20px;
}

button {
  margin-bottom: 20px;
  background: rgb(5, 1, 54);
  color: #fff;
  font-size: 16px;
  padding: 10px;
  border: 0;
  cursor: pointer;

}

#botao-entrar{
  position:relative;
  left:700px;
  bottom:100px;
}

.erro {
  color: red;
  
  text-align: left;
  margin: 5px 40px;
  transition: all .2s;
}

.esconder{
  display: none
}
