

section {
  font-family: sans-serif;
  width: 100%;
  box-sizing: border-box;
  padding: 0 5% ;
}


.conteudo-interno {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

#video-projeto  {
  justify-content: start;
  padding: 10px;
  width: 50%;
}

.conteudo-perguntas{
  width: 50%;
}

.conteudo-interno h1 {
  font-size: 35px;
  font-weight: 600;
  margin: 15px 5px;
}

.video {
  width: 100%;
  border-radius: 20px;
}

.botao-pergunta {
  border-radius: 9px;
  background-color: rgb(36, 26, 126);
  color: aliceblue;
  width: 100%;
  font-size: 20px;
  text-align: left;
  padding: 12px;
  margin: 6px 0px;
}

.botao-pergunta-cria {
  border-radius: 9px;
  background-color: rgb(36, 26, 126);
  color: aliceblue;
  width: 100%;
  font-size: 20px;
  text-align: left;
  padding: 12px;
  margin: 6px 0px;
}

.box-pergunta {
  padding: 10px;
  width: 100%;
  font-size: 20px;
}

.esconder {
  font-size: 16px;
  padding: 7px;
  margin: 4px 10px;
  float: right;
  background-color: rgb(40, 80, 167);
  color: rgb(255, 255, 254);
  border: none;
  border-radius: 10px;
}

#img-guss-projeto {
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 
  'foto texto';
  grid-template-columns: auto;
  grid-template-rows: auto;
}

#img-guss-projeto img {
  grid-area: foto;
  margin: 0px;
  padding: 0px;
  height: 180px;
  width: auto;
}

#img-guss-projeto p {
  grid-area: texto;
  margin: 5px;
  padding: 0px;
  font-size: 20px;
  border: 1px solid red;
  height: auto;
  width: auto;
}

#img-fell-projeto {
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 
  'foto texto';
  grid-template-columns: auto;
  grid-template-rows: auto;
}

#img-fell-projeto img {
  grid-area: foto;
  margin: 0px;
  padding: 0px;
  height: 180px;
  width: auto;
}

#img-fell-projeto p {
  grid-area: texto;
  margin: 5px;
  padding: 0px;
  font-size: 20px;
  border: 1px solid red;
  height: auto;
  width: auto;
}

.aumentar {
  background-color: aqua;
  height: 1000px;
}
