section {
  margin: 0;
  padding: 30px;
  font-family: sans-serif;
  display: grid; 
  width: 96.2%;
  height: 100%;
  place-content: center;
}

.box-geral {
  background-color: transparent;
}

.box-estatico {
  position: relative;
  background-color: transparent;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 0.5s;
}

.front, .conteudo {
  background-color: blueviolet;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.conteudo {
  background-color: aqua;
  transform: rotateY(180deg) ;
}

.box-geral:hover .box-estatico {
  transform: rotateY(180deg);  
  width: 1500px;
  height: 600px;
  margin: auto;

}

.box-estatico:hover .conteudo-interno {
  margin: 0px;
}

.conteudo-interno {
  height: auto;
  width: auto;
  display: grid;
  grid-template-areas: 
  'video perguntas';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.conteudo-video, .conteudo-perguntas  {
  grid-area: video;
  padding: 20px;
  margin: 20px;
  height: auto;
  width: auto;
}

.conteudo-perguntas {
  grid-area: perguntas;
}

.conteudo-interno h1 {
  font-size: 30px;
  margin: 0px 0px 15px 0px;
}

.video {
  width: 100%;
  margin: auto;
  padding: auto;
  border-radius: 20px;
}

.botao-pergunta {
  border-radius: 9px;
  background-color: rgb(36, 26, 126);
  color: aliceblue;
  width: 100%;
  font-size: 20px;
  text-align: left;
  padding: 12px;
  margin: 6px 0px;
}

.botao-pergunta-cria {
  border-radius: 9px;
  background-color: rgb(36, 26, 126);
  color: aliceblue;
  width: 100%;
  font-size: 20px;
  text-align: left;
  padding: 12px;
  margin: 6px 0px;
}

.box-pergunta {
  word-break: break-all;
  width: 94%;
  font-size: 17px;
  margin: 0px 10px;
  padding: 8px;
}

.esconder {
  font-size: 16px;
  padding: 7px;
  margin: 4px 10px;
  float: right;
  background-color: rgb(40, 80, 167);
  color: rgb(255, 255, 254);
  border: none;
  border-radius: 10px;
}

#img-guss-projeto {
  display: grid;
  grid-template-areas: 
  'foto texto';
  grid-template-columns: auto;
  grid-template-rows: auto;
}

#img-guss-projeto img {
  grid-area: foto;
  margin: 0px;
  padding: 0px;
  height: 180px;
  width: auto;
}

#img-guss-projeto p {
  grid-area: texto;
  margin: 10px;
  padding: 0px;
  font-size: 17px;
  height: auto;
  width: auto;
}

#img-fell-projeto {
  display: grid;
  grid-template-areas: 
  'foto texto';
  grid-template-columns: auto;
  grid-template-rows: auto;
}

#img-fell-projeto img {
  grid-area: foto;
  margin: 0px;
  padding: 0px;
  height: 180px;
  width: auto;
}

#img-fell-projeto p {
  grid-area: texto;
  margin: 10px;
  padding: 0px;
  font-size: 17px;
  height: auto;
  width: auto;
}

.aumentar {
  background-color: aqua;
  height: 1000px;
}
